/* General Styles */
:root {
    --accent-color: #CF0000;
    --light-color: #FAFAFA;
    --dark-color: #252525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.cursor-pointer {
    cursor:pointer;
}


/*header styles*/
header {
    background-color: #252525;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.logo {
    width: 80px;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    background: var(--accent-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#theme-checkbox {
    opacity: 0;
}

/*----*/

/* Hamburger menu styles */
/*Tutorial for the ham menu: https://youtu.be/R00QiudbD4Y?si=yKbqr8ivhk1YGJrU*/

button {
    background: transparent;
    border: 3px solid var(--light-color);
    border-radius: 10px;
    
}

button .line {
    fill: var(--light-color);
    transition: 
        y 200ms ease-in 200ms,
        rotate 200ms ease-in,
        opacity 0ms 200ms;
    ;
    transform-origin: center;
    /*Transform-origin set the destination of a transition,
    if not center, the animation will go into weird places.*/
}


button:hover .line {
    transition: 
        y 200ms ease-in,
        rotate 200ms ease-in 200ms,
        opacity 0ms 200ms;
    ;
}

button:hover :is(.top, .bottom) {
    /* ":is" works like an if statement,
    if there is an element that has the classes .top or .bottom,
    the styles are applied.*/

    y: 45;
}

button:hover .top {
    rotate:45deg;
}

button:hover .middle {
    opacity: 0;
}

button:hover .bottom {
    rotate:-45deg;
}

/*---*/

/* Downloader Section Styles */

#downloader-section {
    background-color:#F2F0EB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#downloader-section * {
    margin-top: 40px;
}

#download-title {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}

#yt-url {
    border: none;
    width: 300px;
    padding:30px 0 3px 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px 2px #ccc;
}

#yt-url:focus, 
#download-btn:focus {
    outline: 1px solid var(--dark-color);
    transform: scale(1.08);
}


#download-btn {
    width: 100px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--light-color);
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 40px;
}