:root {
    --accent-color: #CF0000;
    --text-color: #FAFAFA;
    --dark-color: #252525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}


header {
    background-color: #252525;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bar {
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px auto;
    background-color: #FAFAFA;    
}

ul.nav-menu {
    cursor:pointer;
}

.logo {
    width: 80px;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    background: #CF0000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#theme-checkbox {
    opacity: 0;
}
