*:not(.logo) {
    font-family: 'Roboto Condensed', sans-serif;
}

#header {
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    color: #FAFAFA;
}

.nav-item {
    background-color:#3C3C3C;
    padding: 15px 25px;
}



.logo {
    font-family: 'Lora', serif;
    max-width: max-content;
    font-size: larger;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color:#CF0000;
    color: #FAFAFA;

}

a {
    text-decoration: none;
    color: #FAFAFA;
}

#theme-switcher {
    color: #FAFAFA;
    border: #CF0000;
    margin-right: 20px;
}